@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>International Patient Treatment Management</title>

    <partial name="_ViewCssPartial" />
    <link rel="stylesheet" href="~/css/launch.css"/>
</head>
<body>

<partial name="_ViewJsPartial" />
    <script src="~/js/launch.js"></script>
</body>
</html>
