@model IPTreatmentManagement.Models.Dtos.Request.InitiateClaimRequestDto

@{
    ViewData["Title"] = "InitiateClaim";
}

<h1>Initiate Claim</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InitiateClaim">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TreatmentPlanEntityId" class="control-label"></label>
                <select id="treatmentPlanSelect" asp-for="TreatmentPlanEntityId" class="form-control"></select>
                <span asp-validation-for="TreatmentPlanEntityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsurerPackageName" class="control-label"></label>
                <select id="insurerPackageSelect" asp-for="InsurerPackageName" class="form-control"></select>
                <span asp-validation-for="InsurerPackageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function() {

            $("#treatmentPlanSelect").select2({
                theme: 'bootstrap4',

                // creating ajax request object from base
                ajax: Object.assign({},
                    window.select2_ajax_base,
                    {
                        url: window.api_base_address + "/api/TreatmentPlans",
                        placeholder: "Select Treatment Plan..."
                    }),

                // process display response
                templateResult: function(repo) {
                    if (repo.loading) {
                        return repo.text;
                    }

                    var $container = $(
                        "<div class=''>" +
                            "<div class='d-flex justify-content-between'>" +
                                "<div><span class=''>ID:</span> <span id='treatment-plan-id' class=''></span></div>" +
                                "<div><i class='fas fa-lg fa-cubes'></i> <span id='package-name' class='font-weight-bold'></span></div>" +
                            "</div>" +
                            "<div class='d-flex justify-content-between'>" +
                                "<div><i class='fas fa-lg fa-user-md'></i> <span id='specialist'></span></div>" +
                                "<div><span class='font-italic font-weight-light'>cost:</span> <span id='cost' class=''></span></div>" +
                            "</div>"+
                        "</div>"
                    );

                    $container.find("#treatment-plan-id").text(repo.id);
                    $container.find("#package-name").text(repo.packageName);
                    $container.find("#specialist").text(repo.specialist);
                    $container.find("#cost").text(repo.cost);

                    return $container;
                },
                templateSelection: function(repo) {
                    return repo.packageName || repo.text;
                }
            });

            // insurer select box
            $("#insurerPackageSelect").select2({
                theme: 'bootstrap4',

                // creating ajax request object from base
                ajax: Object.assign({}, window.select2_ajax_base,
                    {
                        url: window.api_base_address + "/api/Insurer",
                        placeholder: "Select Insurer Package...",
                        processResults: function(data, page) {
                            var select2_treatment_plans = $.map(data,
                                function(treatment_plan, i) {
                                    return {
                                        id: treatment_plan.insurerPackageName,
                                        insurerName: treatment_plan.insurerName,
                                        insurerPackageName: treatment_plan.insurerPackageName,
                                        insuranceAmountLimit: treatment_plan.insuranceAmountLimit,
                                        disbursementDurationInDays: treatment_plan.disbursementDurationInDays
                                    }
                                });

                            return {
                                results: select2_treatment_plans
                            }
                        }
                    }),

                // process display response
                templateResult: function(repo) {
                    if (repo.loading) {
                        return repo.text;
                    }

                    var $container = $(
                        "<div class=''>" +
                            "<div class='d-flex justify-content-between'>" +
                                "<div><i class='fas fa-lg fa-award'></i> <span id='insurer-name' class='font-weight-bold'></span></div>" +
                                "<div><span class='font-italic font-weight-light'>package:</span> <span id='insurer-package-name'></span></div>" +
                            "</div>" +
                            "<div class='d-flex justify-content-between'>" +
                                "<div><span class='font-italic font-weight-light'>amount:</span> <span id='insurance-amount-limit' class=''></span></div>" +
                                "<div><span class='font-italic font-weight-light'>duration:</span> <span id='disbursement-duration-in-days'></span></div>" +
                            "</div>"+
                        "</div>"
                    );

                    $container.find("#insurer-name").text(repo.insurerName);
                    $container.find("#insurer-package-name").text(repo.insurerPackageName);
                    $container.find("#insurance-amount-limit").text(repo.insuranceAmountLimit);
                    $container.find("#disbursement-duration-in-days").append(repo.disbursementDurationInDays);
                    //$container.find(".select2-result-repository__watchers").append(repo.watchers_count + " Watchers");

                    return $container;
                },
                templateSelection: function(repo) {
                    return (repo.insurerPackageName + "@@" + repo.insurerName) || repo.text;
                }
            });

            //$.ajax({
            //    url: window.api_base_address+"/api/TreatmentPlans",
            //    headers: {
            //        'Authorization': 'Bearer ' + window.jwt_token,
            //        'Content-Type': 'application/json'
            //    },
            //    dataType: 'json',
            //    success: function (result) {
            //        console.log(result);
            //    }
            //});
            console.log(window.jwt_token);
        });
    </script>
}
