@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@model IPTreatmentManagement.Models.Dtos.Request.PatientRequestDTO

@{
    ViewData["Title"] = "Create";
    var queryTreatmentPackageName = HttpContextAccessor.HttpContext?.Request.Query["treatmentPackageName"].ToString();
}

<h1>Add Patient</h1>

<h4>add Patient details to generate treatment plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentPackageName" class="control-label"></label>
                <select id="treatmentPackage" asp-for="TreatmentPackageName" class="form-control">
                    @if (queryTreatmentPackageName != string.Empty)
                    {
                        <option value="@queryTreatmentPackageName" selected="selected">@queryTreatmentPackageName</option>
                    }
                </select>
                <span asp-validation-for="TreatmentPackageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatmentCommencementDate" class="control-label"></label>
                <input type="date" asp-for="TreatmentCommencementDate" class="form-control" />
                <span asp-validation-for="TreatmentCommencementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {

            $("#treatmentPackage").select2({
                theme: 'bootstrap4',

                // creating ajax request object from base
                ajax: Object.assign({}, window.select2_ajax_base,
                    {
                        url: window.api_base_address + "/api/IPTreatmentPackages",
                        placeholder: "Select Treatment Package...",
                        processResults: function (data, page) {
                            var select2_treatment_package = $.map(data,
                                function (treatment_package, i) {
                                    return {
                                        id: treatment_package.treatmentPackageName,
                                        treatmentPackageName: treatment_package.treatmentPackageName,
                                        testDetails: treatment_package.testDetails,
                                        cost: treatment_package.cost,
                                        treatmentDurationInDays: treatment_package.treatmentDurationInDays
                                    }
                                });

                            return {
                                results: select2_treatment_package
                            }
                        }
                    }),

                // process display response
                templateResult: function (repo) {
                    if (repo.loading) {
                        return repo.text;
                    }

                    var $container = $(
                        "<div class=''>" +
                        "<div class='d-flex justify-content-between'>" +
                        "<div><i class='fas fa-lg fa-notes-medical'></i> <span id='treatment-package-name' class='font-weight-bold'></span></div>" +
                        "<div><span class='font-italic font-weight-light'>cost:</span> <span id='treatment-cost'></span></div>" +
                        "</div>" +
                        "<div class='d-flex justify-content-between'>" +
                        "<div><span class='font-italic font-weight-light'>treatment duration:</span> <span id='treatment-duration-in-days' class=''></span></div>" +
                        "</div>" +
                        "</div>"
                    );

                    $container.find("#treatment-package-name").text(repo.treatmentPackageName);
                    $container.find("#treatment-cost").text(repo.cost);
                    $container.find("#treatment-duration-in-days").text(repo.treatmentDurationInDays + " days");

                    return $container;
                },
                templateSelection: function (repo) {

                    var showTxt = repo.id;
                    if (repo.cost) {
                        showTxt += "@@" + repo.cost;
                    }
                    return showTxt || repo.text;
                }
            });
        });
    </script>
}
